.btn {
	width: 10%;
	height: 50px;
	margin: 50%;
	position: absolute;
	top: 10%;
  	right: 25%;
}


body {
	background: url("../images/gameshow.jpg")
}
 
.titleScreen, .timer, .message {
	text-align: center;
	color:#ffffff;
	font-family:impact;
}

.message {
	font-size:40px;
}

.timer {
	font-size:30px;
}

.gameBoard {
	margin: 197px;
	width:70%;
	border: solid 2px white;
	height:500px;
	background-color: gold;
	position: absolute;
    left: 0;
    top: 1%;
}

.results {
	font-family:impact;
	color:black;
	font-size: 18px;
	top:30%;
}